{% extends 'index.html' %}

{% block content %}
<header>Contato</header>
<h1 class="section-header">Escreva sua mensagem:</h1>
<div class="contact-row">
    <div class="contact-column">
        <form action="/contact" method="POST" style="padding: 20px;">
            {% for message in get_flashed_messages(category_filter=["success"]) %}
            <div class="alert-login">{{ message }}
            </div>
            {% endfor %}
            <div class="field">
                <span class="fa fa-user"></span>
                <input id="username" name="username" type="text" placeholder="Nome" required>
            </div>
            <div class="field space">
                <span class="fa fa-user"></span>
                <input id="email" name="email" type="text" placeholder="Email" required>
            </div>
            <textarea  class="field space" placeholder="Mensagem" name="message" style=" min-width:0px; max-width:100%;min-height:50px;height:100%;width:100%;" required></textarea>
            <div class="field space">
                <input type="submit" value="Enviar">
            </div>            
        </form>
    </div>
    <!-- <div class="contact-column" style="background-color: red;">
    </div> -->
</div>
{% endblock content %}
