
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
        <title> My B3 Market Stock </title>
    </head>
    <body>
        {% block r %}
        <div class="bg-img">
            <header>Index Page Bitch</header>
        </div>
        {% endblock %}
    </body>
</html>


